<!DOCTYPE html>
<html>
  <head>
    <title>237Security</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"> -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> -->
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  
  <body>
    <!-- <header>
      <h1><a href="/">237Security</a></h1>
      <% if signed_in? %>
        <nav>
          <li class="active-tab">
            <%= link_to 'Convocations', convocations_path %>
          </li>
          <% if current_agent.role == 'judge' %>
            <li>
              <%= link_to 'Convictions', convictions_path %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Flags', flags_path %>
          </li>
          <li>
            <%= link_to 'Restrictions', restrictions_path %>
          </li>
          <li>
            <%= link_to 'Agents', agents_path %>
          </li>
          <li class="red">
            <%= link_to current_agent.username, agent_path(current_agent) %>
          </li>
        </nav>
      <% else %>
        <nav>
          <li class="create-account">
            <%= link_to 'Login', sign_in_path %>
          </li>
          <li class="create-account">
            <%= link_to 'Create Account', register_path %>
          </li>
        </nav>
      <% end %>
      <div id="informant" class="red">
      </div>
    </header> -->
    <%= render 'shared/header', { active_tab: @active_tab } %>
    <div class="modal-layer">
      <div class="modal">
        <p id="inquirer">
          
        </p>
        <button id="yes" class="red">Yes</button>
        <button id="no" class="green">No</button>
      </div>
    </div>
    <%= yield %>
    <footer>
      
    </footer>
  </body>
</html>
